<table border='1' width='500px' style='margin: 10px auto'>
        <tr>
            <td>Name:</td>
            <td>rubel</td>
        </tr>
        <tr>
            <td>Student ID:</td>
            <td>160634</td>
        </tr>
    </table>

    <table border='1' width='500px' style='margin: 0 auto'>
        <tr>
            <td>Subject</td>
            <td>Marks</td>
            <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla</td>
            <td>87</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>Math</td>
            <td>97</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>English</td>
            <td>95</td>
            <td>A+</td>
        </tr>

    </table>